/*** Global reset ***/
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700');

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/**** Global Style   ****/
main.container {
    background-color: white;
    font-family: 'Roboto Mono', monospace;
    margin-left: 100px;
    margin-top: 50px;
}




/***** Index Page *****/
.cta {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
    height: 120vh;
    padding-left: 8.5%;
    background-color: #F3F4F7;
    border-radius: 40px 0px 0 100px / 10% 0 0 30%;
    background: transparent;
    z-index: 1;
    overflow: auto;
    background: linear-gradient(to right, rgba(227,235,238, 1), rgba(227,235,238, 0.3));
    /*rgba(227,235,238, 1);*/
    margin-bottom: 200px;
}

    .cta::after {
        content: "";
        z-index: -1;
        /*border: 1px solid black;*/
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: url('../images/brooke-lark-230140-unsplash.jpg') no-repeat bottom right;
        background-size: cover;
        /*background-position: -400px -400px;*/
        transform: rotateY(180deg);
    }

.cta__contents {
    height: 400px;
    width: 60%;
    position: relative;
}

.cta__contents .small-title {
    letter-spacing: 5.5px;
    text-transform: uppercase;
    font-weight: 400;
    color: #8F91A8;
    font-size: 25px;
    position: relative;
    top: 20px;
    left: 4px;
}

.title {
    font-weight: 700;
    text-align: start;
}

.cta__contents .main-title {
    font-size: 80px;
    display: inline-block;
    padding: 0;
}

.color-redish {
    color: #DB2F2F;
}

.cta__contents .main-title-highlight {
    /*color: #DB2F2F;*/
}

.color-greyish {
    color: #8F91A8;
}

.header-description {
    font-size: 17px;
    font-weight: 500;
    word-spacing: -2px;
}

.cta__contents__description {
    width: 70%;
    margin-top: 15px;
}

.cta__contents__btn-container {
    width: 50%;
    position: absolute;
    bottom: 10px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cta__contents__btn-container form {
    position: relative;
    width: 100%;
    height: 50px;
}

.btn-search {
    width: 5%;
    position: absolute;
    top: 2px;
    bottom: 0;
    left: 10px;
    border: none;
    background: transparent;

}

#searchBox {
    height: 100%;
    width: 100%;
    font-size: 20px;
    -moz-border-radius: 34px;
    -webkit-border-radius: 34px;
    border-radius: 34px;
    text-align: center;
}

#btn-seeAll {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    height: 45px;
    width: 100%;
    border: none;
    margin-top: 10px;
    background-color: #DB2F2F;
    color: white;
    font-weight: 500;
    font-size: 16px;
    -moz-box-shadow: 0 0 5px 10px #DB2F2F;
    -webkit-box-shadow: 0 0 5px 10px #DB2F2F;
    box-shadow: 0px 5px 20px 6px hsla(0, 84%, 48%, 0.35);
}



section.featured-recipes {
    margin-bottom: 200px;
}

.featured-recipes > header {
    text-align: center;
    width: 50%;
    margin: 150px auto;
}


.featured-recipes .title {
    font-size: 40px;
    display: inline-block;
    margin-bottom: 15px;
}

.recipe-items {
    width: 100%;
    padding: 10px;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe-link {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 47%;
}

    .recipe-link:active,
    .recipe-link:visited
    {
        color: inherit;
        border: none;
        outline: none;
    }



.recipe-item {
    display: flex;
    align-items: center;
    height: 250px;
    width: 45%;
    border: 1px solid rgba(183, 183, 183, 0.68);
    border-radius: 8px;
    padding: 10px 20px;
    margin: 20px;
}

    .recipe-item:hover {
        cursor: pointer;
    }


    .recipe-item .recipe-item__img-container {
        flex: 1 1 30%;
        height: 75%;
        border-radius: 50%;
        overflow: hidden;
        /*align-self: center;*/
        margin-right: 30px;
    }

    .recipe-item .recipe-item__img-container img {
        height: 100%;
        width: 100%;
    }

.recipe-item__main {
    height: 75%;
    flex: 1 1 55%;
    position: relative;
}
    .recipe-item__main header {
        /*display: inline-block;*/
        font-weight: 700;
        font-size: 20px;
        font-size: calc(0.5vw + 0.8vh + 1.2vmin);
        margin-bottom: 5px;
    }

    .recipe-item__main .recipe-item__description {
        font-size: 13px;
        margin-bottom: 5px;
        word-spacing: -3px;
        letter-spacing: -0.4px;
        font-weight: 300;
    }

.recipe-item__info {
    /*margin-top: 20px;*/
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;

    position: absolute;
    bottom: 0;
    left: -18px;
}

.recipe-item__info__headers {
    font-size: 14px;
    /*font-size: calc(0.7vw + 0.4vh + 0.3vmin);*/
    font-weight: 400;
}

    .recipe-item__info__headers tr {
        padding: 5px 10px;
    }

    .recipe-item__info__headers th {
        padding-bottom: 20px;
    }

    .recipe-item__info tbody {
        font-size: 13px;
        letter-spacing: -1.2px;
    }

.recipe-item__info tr > *:nth-child(2) {
    border-left: solid rgba(143, 145, 168, 0.23) thin;
    border-right: solid rgba(143, 145, 168, 0.23) thin;
}



/***** Modal Styles *******/

#modal-container {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(178, 173, 173, 0.68);
    justify-content: center;
    align-items: center;
}

    #modal-container.modal-active {
        display: flex;
    }

    .modal-open {
        overflow: hidden;
        position: absolute;
    }

#modal {
    position: relative;
    background: linear-gradient(to right, rgba(227,235,238, 1), rgba(200,215,228, 0.6));
    width: 1000px;
    height: 500px;
    /*width: 75%;
    height: 75%;*/
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    /*border: 1px solid black;*/
    box-shadow: 0 5px 8px rgba(0,0,0,0.2), 0 7px 20px rgba(0,0,0,0.2);
    display: flex;
}


#modal-close {
    position: absolute;
    right: 2%;
    top: 4%;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background-color: rgb(220, 78, 65);
    border-radius: 25%;
    font-size: 30px;
    cursor: pointer;
    color: #0f0e0e;
    line-height: 1px;
    vertical-align: baseline;
    box-shadow: 0 2px 20px rgba(0,0,0,0.2), 0 3px 10px rgba(0,0,0,0.2);
}

    #modal-close:hover,
    #modal-close:focus {
        color: rgb(206, 201, 201);
        background-color: hsl(0, 54%, 63%);
        outline: 0;
    }

    #modal-close:active {
        transform: translateY(2px);
    }

#modal-content {
    width: 60%;
    height: 100%;
    padding: 20px 5px 5px 30px;
}

#modal-img {
    width: 40%;
}

#modal-img img {
    width: 100%;
    height: 100%;
}

#modal-content .modal-title,
.ingredients-container {
    margin: 10px auto;
}

.modal-title-description {
    font-size: 12px;
    font-weight: 400;
    color: rgb(110, 104, 104);
}

.modal-ingredients {
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-align-content: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    margin-top: 20px;
    color: rgb(110, 104, 104);
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
}


#modal li {
    list-style-position: inside;
    font-size: 13px;
    margin: 2px 0;
}

#modal .modal-ingredient {
    width: 50%;
}

.directions-container {
    position: relative;
    height: calc(70% - 100px);
    padding: 0 5px;
}

.modal-directions {
    margin-top: 20px;
    color: rgb(110, 104, 104);
    overflow: scroll;
    overflow-x: hidden;
    height: 150px;
    height: 70%;
    position: absolute;
    bottom: 0;
    top: 15px;
}

#modal .modal-direction {
    margin: 5px 0;
    letter-spacing: -0.5px;
    word-spacing: -2px;
}
