<section class="cta">
    <div class="cta__contents">
        <header>
            <h4 class="small-title">DELICIOUS</h4>
            <h1 class="main-title title">Food <span class="main-title-highlight color-redish">Recipes</span></h1>
        </header>
        <div class="cta__contents__description">
            <h6 class="header-description color-greyish">Your source of the best recipes using the best ingredients from all over the world.</h6>
        </div>
        <div class="search-btn-container">
            <form asp-controller="Home" asp-action="Search" method="get">
                <button class="btn-search" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                    </svg>
                </button>
                <input id="searchBox" type="search" name="query" placeholder="Find more recipes..." />
            </form>
            <a id="btn-seeAll" href="">See Featured Recipes</a>
        </div>
    </div>
</section>

<section id="featured-recipes" class="recipes-section">
    <header>
        <h2 class="title">Featured Recipes</h2>
        <h6 class="header-description color-greyish">Delicious and easy recipes we chose for you</h6>
    </header>
    <div class="recipe-items">
    </div>
</section>

<template id="recipe-item-template">
        <div class="recipe-item" data-id="">
            <div class="recipe-item__img-container">
                <img decoding="sync" src="~/images/eiliv-sonas-aceron-1113078-unsplash.jpg" alt="Recipe Image" />
            </div>
            <div class="recipe-item__main">
                <header class="recipe-item__title">Chicken-Corn Cowder</header>
                <h6 class="recipe-item__description color-greyish">Lorem ipsum, this is the title description</h6>
                <table class="recipe-item__info">
                    <thead class="recipe-item__info__headers color-greyish">
                        <tr>
                            <th scope="col">Prep Time</th>
                            <th scope="col">Serves</th>
                            <th scope="col">Skill</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="prepTime">1h</td>
                            <td class="totalServe">4</td>
                            <td class="difficulty">Easy</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</template>

@section Scripts {
    <script type="module" src="~/js/recipeService.js"></script>
    <script type="module" src="~/js/index.js"></script>
}