<section id="search-bar">
    <form method="get">
        <input type="search" name="query" placeholder="FInd more recipes..." />
    </form>
</section>



<section class="recipes-searchResult-container">
    <div class="recipe-item">
        <div class="recipe-item__img-container">
            <img src="#" alt="Recipe Image" />
        </div>
        <div class="recipe-item__description">
            <header class="recipe-item__title">Recipe Title</header>
            <h6 class="recipe-item__description">Lorem ipsum, this is the title description</h6>
            <table class="recipe-item__info">
                <thead class="recipe-item__info__headers">
                    <tr>
                        <th>Prep Time</th>
                        <th>Serves</th>
                        <th>Skill</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1h</td>
                        <td>4</td>
                        <td>Easy</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>